
<html>
    <body>
    <h1>Pro Trainer Soccer - Calibrate</h1>
    <h3>Test Shot</h3>
    <p>Calibrating the system. Click test shot to shoot one ball at 45 degrees with 10m/s. Film and measure where the ball landed.</p>
    <form action="/data" method = "POST">
    <p>Test shot speed: <input type = "text" name = "calibrate_length" /></p>
    <p>Test shot angle: <input type = "text" name = "calibrate_length" /></p>
    <p><input type = "submit" name="test_shot" value = "Test shot" /></p>
  </form>
    <h3>Calibrate</h3>
    <p>How far did the ball travel ?</p>
    <form action="/calibrationdone" method = "POST"></form>
    <p> <input type = "text" name = "calibrate_length" /></p>
    <p><input type = "submit" name = "calibrate" value = "Calibrate" /></p>
      
    </form>
    
    <h3>Select another mode::</h3>
    <a href=keeper ><button class=grey >Keepertrening</button></a>
    <a href=landing ><button class=grey >Landingsbasert</button></a></a>
    <a href=calibrate ><button class=grey >Calibrate</button></a>

</body>
</html>