<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/mainpage.css')}}">
</head>
    <body>
    <h1>Pro Trainer Soccer - Calibration </h1>
    <h3>#1 Test Shot</h3>
    <p>Select a target calibrate ex. 0,10,0. Measure where the ball landed.</p>
    <p>It is reccomended to use the calibration routine with straight shots with X=0. </p>
    
    <form action="/calib2" method = "POST">
        <p>Desired landingpoint[X,Y,Z]: <input type = "text" name = "target" /></p>
        <p>Ball dispenser speed (range 1-126): <input type = "text" name = "dispenser_speed" /></p>
        <!--<p><input type="checkbox" name="allow_spin">Optimize ball delivery speed</p>-->
        {% if feedback %}
        <p class="warning">{{ feedback }}</p>
        {% endif %}
        <p><input type = "submit" name= "submit_button" value = "Test shot" /></p>
    
    <p><input class = "submit" type = "submit" name="submit_button" value = "Reset calibration constants" /></p>
    {% for key,value in form.items() %}
    <h3> {{key}}</h3>
    <p> {{value}}</p>
    {% endfor %}
</form>
    
    <a  href=./setcalib ><button class=button1>Set your own calibration constants</button></a>
    <a  href=./ ><button class=button1>Return</button></a>

    </body>
</html>
