<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/mainpage.css')}}">
</head>
    <body>
    <h1>Pro Trainer Soccer - Calibration </h1>
    <h3>#2 Calibrate</h3>
    <p>How far did the ball travel?</p>
    <form action="/calibrationdone" method = "POST">
    <p>Landing point[X,Y,Z]: <input type = "text" name = "landingpoint" /></p>
    {% if feedback %}
    <p class="warning">{{ feedback }}</p>
    {% endif %}
    <p><input type = "submit" name="submit_button" class = "submit" value= "Calibrate"/></p>
    </form>
    <a href=./ ><button >Return</button></a>
    </body>
</html>
