<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/mainpage.css')}}">
</head>
    <body>
    <h1>Pro Trainer Soccer - Calibration </h1>
    <h3>#2 Calibrate</h3>
    <p>Select an angle and speed to calibrate(e.g. 10m/s and 45 degrees). Film and measure where the ball landed.</p>
    <p>How far did the ball travel?</p>
    <form action="/calibrationdone" method = "POST">
    <p>X: <input type = "text" name = "X"/></p>
    <p>Y: <input type = "text" name = "Y"/></p>
    {% if feedback %}
    <p class="warning">{{ feedback }}</p>
    {% endif %}
    <p><input type = "submit" name="submit_button" class = "submit" value= "Calibrate"/></p>
    </form>
    <a href=./ ><button >Return</button></a>
    </body>
</html>