<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/mainpage.css')}}">
</head>
<body>
<h1>Pro Trainer Soccer</h1>
<p>Welcome to the GUI of controlling the automated Pro Soccer Trainer. Make sure to have at least 3m x 20m x 7m cleared space in front of the machine.
    If an error occurs, stop and reset motors by returning to this page and select Reset motors.</p>
<h3>Start by resetting the motors, such that the angle is set to zero:</h3>
<a href=reset ><button class=button1 >Reset motors</button></a>
<h3>Calibrate the system:</h3>
<a href=calib1 ><button class=button1 >Calibrate</button></a>
<h3>Select a mode:</h3>
<a href=manual ><button class=button1 >Speed/Angle based shot</button></a>
<a href=target ><button class=button1 >Target based shot</button></a>
</body>
</html>