
<html>
    <body>
    <h1>Pro Trainer Soccer - Manuell styring</h1>
    <p>Welcome to the GUI of controlling the automated Pro Soccer Trainer.</p>
    <p>Start by calibrating the system. Click test shot to shoot one ball at 45 degrees with 20m/s. Measure where the ball landed</p>
    <form action="/data" method = "POST">
    <p>How far did the ball travel?<input type = "text" name = "calibrate_length" /></p>
    <p><input type = "submit" value = "submit" /></p>
    </form>
    
    <p>selecting a mode below!</p>

    <a href=keeper ><button class=grey >Keepertrening</button></a>
    <a href=manuell ><button class=grey >Manuell styring</button></a>

    </body>
</html>