
<html>
    <body>
    <h1>Pro Trainer Soccer - Manuell styring</h1>
    <form action="/data" method = "POST">
        <p>Speed[m/s] (range 0-27))<input type = "text" name = "speed" /></p>
        <p>Angle[degrees] (range 0-30)<input type = "text" name = "angle" /></p>
        <p>Monitor speed for how long?<input type = "text" name = "seconds" /></p>
        <p><input type = "submit" name="submit_button" value = "Shoot" /></p>
        <p><input type = "submit" name="submit_button" value = "Calibrate with Test Shot" /></p>
    </form>
    <p>For calibrate: Wheels will instantly start moving with selected speed. Wait 2 seconds before feeding the ball to the system for most accurate calibration. </p>
    <p>The calibration will last 10 seconds.</p>
    <a href=keeper ><button class=grey >Keepertrening</button></a>

    </body>
</html>