<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/mainpage.css')}}">
</head>
<body>
    <h1>Pro Trainer Soccer - Keepertrening</h1>
    <form action="/data" method = "POST">
        <p>How many ball shots?<input type = "text" name = "number_of_ballshots" /></p>
        <p>Monitor speed for how long?<input type = "text" name = "seconds" /></p>
        <p>Percentage spinn ball<input type = "text" name = "spin_ratio" /></p>
        {% if feedback %}
        <p class="warning">{{ feedback }}</p>
        {% endif %}
        <p><input type="checkbox" name="maximize_balldelivery">Optimize ball delivery speed</p>
        <p><input type = "submit"  name= "submit_button"  value = "submit" /></p>

    </form>
    
    <h3>Select another mode:</h3>
    <a href=landing ><button class=button1 >Landingsstyrt</button></a>
    <a href=manuell ><button class=button1 >Manuell Styring</button></a></a>
    <a href=calib1 ><button class=button1 >Calibrate</button></a>
    </body>
</html>