
<html>
    <body>
    <h1>Pro Trainer Soccer - Manuell styring</h1>
    <form action="/data" method = "POST">
        <p>How many ball shots?<input type = "text" name = "number_of_ballshots" /></p>
        <p>Speed[m/s] (range 0-27))<input type = "text" name = "speed" /></p>
        <p>Angle[degrees] (range 0-30)<input type = "text" name = "angle" /></p>
        <p>Monitor speed for how long?<input type = "text" name = "seconds" /></p>
        <p>Ball dispenser speed<input type = "text" name = "dispenser_speed" /></p>
        <p><input type="checkbox" name="spin">Allow optimize spin</p>
        <p><input type = "submit" value = "submit" /></p>

    </form>

    <a href=keeper ><button class=grey >Keepertrening</button></a>

    </body>
</html>