<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/mainpage.css')}}">
</head>
<body>
    <h1>Pro Trainer Soccer - Manuell styring</h1>
    <form action="/data" method = "POST">
        <p>Speed[m/s] (range 1-27): <input type = "text" name = "speed" /></p>
        <p>Angle[degrees] (range 5-45): <input type = "text" name = "angle" /></p>
        <p>Ball dispenser speed (range 1-126): <input type = "text" name = "dispenser_speed" /></p>
        {% if feedback %}
        <p class="warning">{{ feedback }}</p>
        {% endif %}
        <p><input type = "submit" name= "submit_button" value = "Shoot" /></p>

    </form>

    <h3>Select another mode:</h3>
    <a href=calib1 ><button class=button1 >Calibrate</button></a>
    <a href=landing ><button class=button1 >Landingsbasert</button></a></a>
    <a href=keeper ><button class=button1 >Keepertrening</button></a>
    </body>
</html>