<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/mainpage.css')}}">
</head>
<body>
    <h1>Pro Trainer Soccer - Select speed, angle and spin yourself!</h1>
    <form action="/data" method = "POST">
        <p>Speed[m/s] (range 1-17): <input type = "text" name = "speed" /></p>
        <p>Angle[degrees] (range 5-45): <input type = "text" name = "angle" /></p>
        <p>Ball dispenser speed (range 1-126): <input type = "text" name = "dispenser_speed" /></p>
        <p>Spin (range -0.043-0.043): <input type = "text" name = "spin" /></p>

        {% if feedback %}
        <p class="warning">{{ feedback }}</p>
        {% endif %}
        <p><input type = "submit" name= "submit_button" value = "Shoot" /></p>

    </form>

    <h3>Select another mode:</h3>
    <a href=calib1 ><button class=button1 >Calibrate</button></a>
    <a href=target ><button class=button1 >Target based shot</button></a></a>
    <a href=./ ><button class=button1>Return</button></a>
    </body>
</html>